{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}

<section>	
	<h1>Noticias</h1>
	<ul>		
	{% for noticia in noticias %}		
		<li>			
			<article>
				<a href="{{noticia.get_absolute_url}}">
					<img src='{% thumbnail noticia.imagen 370x300 %}' width="370" height="300" src="" alt="{{noticia.titulo}}" title="{{noticia.titulo}}">
					<h1>{{noticia.titulo}}</h1>					
					<span>{{noticia.fecha_publicacion}}</span>
				</a>
			</article>
		</li>		
	{% endfor %}
	</ul>
</section>

{% addtoblock "css" %}
{% endaddtoblock %}

{% addtoblock "js" %}
{% endaddtoblock %}





