{% load sekizai_tags %}
{% load placeholder_tags %}
{% load thumbnail %}

<article> 
  <header>    
    <h1>{{instancia.titulo}}</h1>
    <span>{{instancia.fecha_publicacion}}</span>
  </header>
  <p>{% render_placeholder instancia.detalle %}</p>
</article>

<section>
  <h1>Últimas noticias</h1>
  <ul>
    {% for noticia in ultimas %}
    <li>
      <article>
        <img src='{% thumbnail noticia.imagen 60x60 crop=",0" upscale %}' width="60" height="60" src="" alt="{{noticia.titulo}}" title="{{noticia.titulo}}">
        <a href="{{noticia.get_absolute_url}}">{{noticia.titulo}}</a>
      </article>          
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'archivo' %}" >Más noticias</a>
</section>

{% addtoblock "css" %}
{% endaddtoblock %}

{% addtoblock "js" %}
{% endaddtoblock %}