{% load sekizai_tags %}
{% load thumbnail %}

<ul>
  {% for noticia in lista %}
    <li>
      <article>
        <a href="{{noticia.get_absolute_url}}">
          <img src='{% thumbnail noticia.imagen 270x160 crop=",0" %}' alt="{{ imagen.titulo }}"  width="270" height="160" />
          <h1>{{noticia.titulo|truncatechars:45}}</h1>
          <p><time itemprop="date" datetime="{{noticia.fecha_publicacion}}">{{noticia.fecha_publicacion|date:'F d, Y'|capfirst}}</time></p>
        </a>
      </article>
    </li>
  {% endfor %}
</ul>

