{% load sekizai_tags %}
{% load thumbnail %}



<ul class="news-recent-list">

	{% for noticia in lista %}

    <li class="news-recent-item">

    <article>

    <a href="{{noticia.get_absolute_url}}">

        <img src='{% thumbnail noticia.imagen 270x160 crop=",0" %}' alt="{{ imagen.titulo }}"  width="270" height="160" />


        <h1>{{noticia.titulo|truncatechars:45}}</h1>

        <p class="date"> <time itemprop="date" datetime="{{noticia.fecha_publicacion}}">{{noticia.fecha_publicacion|date:'F d, Y'|capfirst}}</time></p>

        </a>
    </article>
    </li>
{% endfor %}
</ul>

